<div class="users-page container">
    <div>
       <!-- <button type="button" class="btn btn-default pull-right" (click)="newUser()" *ngIf="parent.getUser().authority==='all'">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </button>-->
    </div>
    <span class="clearfix"></span>
    <div class="row row-header">
        <div class="col-md-3 cell-name">Name111</div>
        <div class="col-md-3">Email111</div>
        <div class="col-md-3">Active11</div>
        <div class="col-md-3">Operation111</div>
    </div>
    <div class="row row-content" *ngFor="let user of users">
        <div class="col-md-3">
            12
        </div>
        <div class="col-md-3">
            23
        </div>
        <div class="col-md-3">
            23
        </div>
        <div class="col-md-3">
            23
        </div>

    </div>
</div>