<div class="login-page">
    <form class="form-horizontal form-container lr-center" #loginForm="ngForm">
        <H2><b>Please Login:</b></H2>
        <hr>
        <div class="form-group ">
            <div class="col-sm-12 col-xs-12 ">
                <input type="text" class="form-control" id="mobile" maxlength="11" placeholder="请输入手机号" [(ngModel)]="user.account.mobile" name="mobile" required #spy>
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-9 col-xs-7">
                <input type="text" class="form-control" id="code" maxlength="4" placeholder="验证码" [(ngModel)]="user.account.code" name="code" (keyup.enter)="login()" required>
            </div>
            <div class="col-sm-3  col-xs-5 getcode">
                <button [disabled]="iscode" type="button" class="btn-code" *ngIf = "!getCodeSuccess" (click)="getcode()">获取验证码</button>
                <span class="btn-code" *ngIf = "getCodeSuccess">{{codetimer}}</span>
            </div>
        </div>
        <div class="form-group" *ngIf="error">
            <p class="alert alert-danger">{{error}}</p>
        </div>
        <div class="form-group">
            <div class="col-sm-12 btnlogin">
                <loading-button [name]="'Sign in'" [(isLoading)]="isLoading" (action)="login()"></loading-button>
            </div>
        </div>
    </form>
</div>